<div class="card mb-3" [ngClass]="{'border-primary': product.isAvailable,
'border-warning': !product.isAvailable}">
  <h4 class="card-header">{{product.category | titlecase}}</h4>
  <div class="card-body">
    <h5 class="card-title display-5">{{product.name | uppercase}}
      <span class="badge badge-pill" [ngClass]="{'badge-info': product.isAvailable,
    'badge-danger': !product.isAvailable}">{{product.isAvailable ? 'Available' : 'Unavailable'}}</span>
    </h5>
    <p class="card-text">Price: {{product.price | currency : USD}}</p>
    <div class="d-flex justify-content-end">
      <button class="btn btn-info px-3 mr-2" (click)="onDetailsClick()">Details</button>
      <button class="btn btn-primary px-3" [disabled]="!product.isAvailable" (click)="onBuy()">Buy</button>
    </div>
  </div>
</div>
