/* You can add global styles to this file, and also import other style files */
.app-body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;
}

.main-content {
  flex: 1 0 auto;
}

.main-footer {
  flex: 0 0 auto;
}

.count, .delete {
  cursor: pointer;
}
